@import './shared/fonts';
@import './shared/index';

//Components
@import './components/header';

.absolute {
  position: absolute;

}

  html, body {
    height: 100%;
    width:100%;
    font-family: 'Montserrat', 'Helvetica' !important;
  }

  .self-typed{
    font-size: 31px;
    color:white;
    font-weight: bold;
    letter-spacing: 2px;
    background: none;
    background-color: transparent;
  }
